build
cython
debugpy
flake8
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-isort
installer
isort
jedi
mccabe
meson
mypy
mypy-extensions
neovim
numpy
packaging
pip
platformdirs
pycodestyle
pyflakes
pyftdi
pylsp-mypy
pylsp-rope
pynvim
pytest
pytest-xdist
python-lsp-server
pyusb
requests
rope
ruff
setuptools
typing_extensions
typing-utils
wheel
xdist

markdown
markdown-callouts

vectorcode[lsp]
chroma
chroma-mcp
cli-mcp-server
